/*=== Variables ===*/

$green-color:#62ab00;
$black-color:#282828;
$black:$black-color;
$text-color:#555555;
$black-color-2:#333;
$red-color-fade:#f5857a;
$pink-color:#e61374;
$white-color:#fff;
$white:$white-color;
$gray-color:#929292;
$yellow-color:#eccd00;
$orange-fade-color:#e2bca0;
$breadcrumb-divider: quote(">");
$primary-color:$green-color;
$border-color:#e5e5e5;
$ghost-white:#f5f4fa;
$shade-whisper:#EDEDED;